@page
@model SusFoodBank.Pages.Appointment.IndexModel
@{
    ViewData["Title"] = "My Visitation Appointment History";
}

<div class="container my-4">
    <div class="card">
        <div class="card-body my-3">
            <h3 class="fw-bold text-center mb-3">Visitation Appointment Booking History</h3>

            <hr />

            @await Html.PartialAsync("_FlashMessage")
            @{
                if (Model.BookingList.Count == 0)
                {
                    <div class="text-center">
                        <p>You have not booked any visitation appointments as of now.</p>
                        <a asp-page="/Appointment/Book" class="btn btn-primary">Book Appointment</a>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-start justify-content-lg-end">
                        <a asp-page="/Appointment/Book" class="btn btn-primary mb-3">Book Appointment</a>
                    </div>
                    <div class="table-responsive-xxl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 85px;">Booking ID</th>
                                    <th scope="col" style="width: 135px;">Appointment Date</th>
                                    <th scope="col" style="width: 135px;">Appointment Time Slot</th>
                                    <th scope="col" style="width: 100px;">Status</th>
                                    <th scope="col" style="width: 170px">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var booking in Model.BookingList)
                                {
                                    <tr>
                                        <th scope="row">@booking.BookingId</th>
                                        <td>@booking.Slot.SlotDate.ToString("dd MMMM yyyy")</td>
                                        <td>@booking.Slot.SlotSession.SlotTime.ToShortTimeString()</td>
                                        <td>
                                            @if (@booking.BookingStatus == "Confirmed")
                                            {
                                                <span class="badge rounded-pill text-bg-success">confirmed</span>
                                            }
                                            else if (@booking.BookingStatus == "Completed")
                                            {
                                                <span class="badge rounded-pill text-bg-secondary">completed</span>
                                            }
                                        </td>

                                        <td>
                                            <a asp-page="/Appointment/Details" asp-route-id="@booking.BookingId" class="btn btn-secondary">View Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
    </div>
</div>
