<h2 class="fw-bold text-center mb-3">My Ticket History</h2>

{{#if tickets}}
<div class="table-responsive">
    <table class="table">
        <thead class="table-success">
            <tr>
                <th scope="col" style="width: 10%;">ID</th>
                <th scope="col" style="width: 50%;">Subject</th>
                <th scope="col" style="width: 15%;">Created On</th>
                <th scope="col" style="width: 15%;">Last Updated</th>
                <th scope="col" style="width: 10%;">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each tickets}}
            <tr>
                <th>
                    <a href="/support/view-ticket/{{id}}" class="support-a">&num;{{id}}</a>
                </th>
                <td>{{ticketSubject}}</td>
                <td>{{date createdAt "YYYY/MM/DD, HH:mm:ss"}}</td>
                <td>{{date updatedAt "YYYY/MM/DD, HH:mm:ss"}}</td>
                <td>
                    {{#if (eq ticketStatusId 4)}}
                    <span class="badge rounded-pill bg-secondary">SOLVED</span>
                    {{else if (eq ticketStatusId 3)}}
                    <span class="badge rounded-pill bg-info text-dark">IN PROGRESS</span>
                    {{else if (eq ticketStatusId 2)}}
                    <span class="badge rounded-pill bg-warning text-dark">AWAITING YOUR RESPONSE</span>
                    {{else}}
                    <span class="badge rounded-pill bg-success">OPEN</span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<small>All dates and times shown are in GMT+8.</small>
<p class="text-center fst-italic pt-3">~ looks like you have reached the end ~</p>

{{else}}
<p class="text-center">You do not have any support ticket created as of now.</p>

{{/if}}