<h2 class="fw-bold text-center mb-4">Edit Video</h2>

<form action="" method="post">
    <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-7">
            {{!-- Video Title --}}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="title" id="title" value="{{video.title}}" placeholder="Video Title" onblur="initialiseTitle()" required>
                <label for="title">Video Title</label>
            </div>

            {{!-- Video Description --}}
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Video Description (max characters: 2000)" name="description" id="description" maxlength="2000" style="height: 300px" required>{{video.description}}</textarea>
                <label for="description">Video Description &lpar;max characters: 2000&rpar;</label>
            </div>
        </div>

        <div class="col-sm-6 col-md-12 col-lg-5">
            {{!-- Thumbnail Upload --}}
            <div class="mb-3">
                <p class="fw-bold mb-0">Upload Thumbnail:</p>
                <div class="input-group">
                    <input type="file" class="form-control" name="posterUpload"  id="posterUpload" onchange="thumbnailFile(event)" accept="image/png, image/jpeg, image/jpg, image/gif">
                    <div class="text-danger small mb-2" id="posterErr" style="display:none"></div>

                    <img id="poster" src="{{video.posterURL}}" class="border img-thumbnail img-fluid" alt="">

                    {{!—- Hidden field to submit URL of poster to the server --}}
                    <input id="posterURL" type="hidden" name="posterURL" value="{{video.posterURL}}">
                </div>
                <small>Supported file formats: PNG, JPEG, JPG, GIF</small>
                <a href="/video/deleteThumbnail/{{video.id}}" class="btn btn-success shadow-none" onclick="">Delete Thumbnail</a>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <a href="javascript:history.back()">
                    <button type="button" class="btn btn-link shadow-none">Cancel</button>
                </a>

                {{!-- Save Changes Button --}}
                <button type="submit" class="btn btn-success shadow-none">Save &amp; Commit Changes</button>
            </div>
        </div>
    </div>
</form>


{{!-- Script to display thumbnail --}}
<script>
    var thumbnailFile = function(event) {
        var image = document.getElementById('poster');
        image.src = URL.createObjectURL(event.target.files[0]);
        if (image = null){
            image.src = null
        }
    };
</script>