<h3 class="fw-bold">{{username}}&CloseCurlyQuote;s channel</h3>
{{#if notuser}}
<form name="login" method="post" action="/account/login">
	<button type="submit" class="btn btn-danger" disabled>SUBSCRIBE &lpar;{{subcount}}&rpar;</button>
</form>
{{else}}
{{!-- Subscribe/Unsubscribe Button --}}
{{#if subscriptionstatus}}
<form name="subscribe" method="post" action="/video/unsubscribe/{{userid}}">
	<button type="submit" class="btn btn-danger" onclick="window.location.reload()">UNSUBSCRIBE &lpar;{{subcount}}&rpar;</button>
</form>
{{else}}
<form name="unsubscribe" method="post" action="/video/subscribe/{{userid}}">
	<button type="submit" class="btn btn-danger" onclick="window.location.reload()">SUBSCRIBE &lpar;{{subcount}}&rpar;</button>
</form>
{{/if}}
{{/if}}

<hr>

<div class="row">
	{{#each videos}}
	<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
		<div class="card mb-3">
            {{!-- Video (play on hover) and Video Thumbnail --}}
			<a href="/video/showVideo/{{id}}/{{userId}}" class="card-link stretched-link">
				<div style="z-index: 5; position: relative;">
					<video-js class='vjs-theme-city' id="{{videoURL}}" data-setup='{"controls": false, "autoplay": false, "preload": "auto", "fluid": true, "poster": "{{posterURL}}", "muted": true}' onmouseover="videojs('{{videoURL}}').play()" onmouseleave="videojs('{{videoURL}}').pause(), videojs('{{videoURL}}').currentTime(0), videojs('{{videoURL}}').hasStarted(false), videojs('{{videoURL}}').trigger('loadstart')">
						<source src="{{videoURL}}">
					</video-js>
				</div>
			</a>
            <div class="card-body">
                {{!-- Video Title --}}
				<div id="video-title-overflow">
					<p class="fw-bold">{{title}}</p>
				</div>

                {{!-- Stretched Link --}}
				<a href="/video/showVideo/{{id}}/{{userId}}" class="card-link stretched-link"></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>


<script src="https://vjs.zencdn.net/7.20.1/video.min.js"></script>
<script src="../../public/js/videoplayer.js"></script>